[Desktop Entry]
Type=Application
Exec="/.../rotLand.sh"
Hidden=false
NoDisplay=false
Name=Rotate Landscape
GenericName=Rotate Landscape
Categories=System;
StartupNotify=false
Comment=Rotate the screen and touchscreen to Landscape mode
Icon=
